
<!-- If this div is moved after the iframe, it won't be rendered! -->
<div id="tools-panel" class="{{authoring.tools.state}}" style="height:{{authoring.tools.height}}%;">
    <button type="button" class="btn-close btn btn-primary" ng-click="closeTools()">
        <span class="glyphicon glyphicon-remove-circle"></span>
        <span class="btn-label">Close</span>
    </button>

    <div id="component-navigator">

    </div>
    <div id="tools-area">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li ng-repeat="tab in authoring.tools.tabs"
                    ng-class="{active: authoring.tools.activeTab == tab.name }">
                    <a ng-click="authoring.setActiveTab(tab.name); updateElement()">{{tab.title}}</a>
                </li>
            </ul>

            <div class="tab-content">
                <div ng-repeat="tab in authoring.tools.tabs"
                     ng-class="'content'"
                     ng-include="tab.contentUrl"
                     ng-hide="authoring.tools.activeTab != tab.name">
                </div>
            </div>
        </div>
    </div>
</div>

<editor-iframe frameborder="0"
               id="editor-iframe"
               height="{{100 - authoring.tools.height}}%"
               width="100%" />

