
<!-- If this div is moved after the iframe, it won't be rendered! -->
<div id="tools-panel" class="{{authoring.tools.state}}" style="height:{{authoring.tools.height}}%;">
    <div id="component-navigator">

    </div>
    <div id="tools-area">

        <!-- <p class="intro">Element selected: <span id="element-id">{{selectedElement}}</span></p> -->

        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li ng-repeat="tab in authoring.tools.tabs"
                    ng-class="{active: $parent.authoring.tools.activeTab == tab.name }">
                    <a ng-click="$parent.authoring.setActiveTab(tab.name)">{{tab.title}}</a>
                </li>
            </ul>

            <div class="tab-content">
                <div ng-repeat="tab in authoring.tools.tabs"
                     ng-class="'content'"
                     ng-include="tab.contentUrl"
                     ng-hide="$parent.authoring.tools.activeTab != tab.name">
                </div>
            </div>
        </div>
    </div>

    <!-- <form>
        <div>
            <div ng-controller="OneCtrl">
                <label for='view-locked'>
                    <input type='checkbox' name='changes' id='view-locked' ng-click="lockView()" />
                    <span>View as locked</span>
                </label>
            </div>

            <div ng-controller="TwoCtrl">
                <label for='view-readonly'>
                    <input type='checkbox' name='changes' id='view-readonly' ng-click="readOnlyView()" />
                    <span>View as read-only</span>
                </label>
            </div>

            <div ng-controller="ThreeCtrl">
                <label for='view-edit'>
                    <input type='checkbox' name='changes' id='view-edit' ng-click="editView()" />
                    <span>View as edit</span>
                </label>
            </div>
        </div>
    </form> -->
</div>

<editor-iframe frameborder="0"
               id="editor-iframe"
               height="{{100 - authoring.tools.height}}%"
               width="100%" />

