<div class="dialog go-live">
  <div class="modal-header">
    <h3>Go Live</h3>
  </div>
  <div class="modal-body">
    <div class="intro">
      <span>Check the items you wish to deploy.</span>
      <span>Any file dependencies will automatically be checked for you.</span>
    </div>
    <form>
      <div class="options">
        <div class="channel">
          <label for="pub-channel">Deploy to:</label>
          <select id="pub-channel">
            <option>Production</option>
            <option>Staging</option>
          </select>
        </div>
        <div class="message">
          <label for="pub-msg">
              <span>Message to broadcast</span>
          </label>
          <textarea id="pub-msg" name="pub-msg"></textarea>
        </div>
      </div>
      <div class="file-listing">
        <table>
          <thead>
            <tr>
              <th class="file-name">File Name</th>
              <th class="action"><a href="#" title="Time you wish the files to be deployed">Go Live</a></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="file-name indent-0"><span title="/Home/Products">Products</span></td>
              <td class="action"><a href="#">Now</a></td>
            </tr>
            <tr>
              <td class="file-name indent-1"><span title="/Home/Products/Shampoos">Shampoos</span></td>
              <td class="action"><a href="#">Now</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button ng-click="goLiveDialog.close()" class="btn btn-primary">Go Live</button>
    <button ng-click="goLiveDialog.close()" class="btn btn-primary">Cancel</button>
  </div>
</div>