<div id="ath-content-tab">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="field1" class="col-lg-2 control-label input-sm">
                Integer eget
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control input-sm" id="field1" placeholder="Content Information 1">
            </div>
        </div>
        <div class="form-group">
            <label for="field2" class="col-lg-2 control-label input-sm">
                Vehicula mollis
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control input-sm" id="field2" placeholder="Content Information 2">
            </div>
        </div>
        <div class="form-group">
            <label for="field3" class="col-lg-2 control-label input-sm">
                Tincidunt placerat
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control input-sm" id="field3" placeholder="Content Information 3">
            </div>
        </div>
        <div class="form-group">
            <label for="field4" class="col-lg-2 control-label input-sm">
                Condimentum
            </label>
            <div class="col-lg-10">
                <input type="password" class="form-control input-sm" id="field4" placeholder="Content Information 4">
            </div>
        </div>
        <div class="form-group">
            <label for="field5" class="col-lg-2 control-label input-sm">
                Suspendisse placerat
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control input-sm" id="field5" placeholder="Content Information 5">
            </div>
        </div>
        <div class="form-group">
            <label for="field6" class="col-lg-2 control-label input-sm">
                Rhoncus vitae
            </label>
            <div class="col-lg-10">
                <input type="password" class="form-control input-sm" id="field6" placeholder="Content Information 6">
            </div>
        </div>
    </form>
</div>