<div id="ath-revisions-tab">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="field11" class="col-lg-2 control-label input-sm">
                Pellentesque
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control input-sm" id="field11" placeholder="Revisions Information 1">
            </div>
        </div>
        <div class="form-group">
            <label for="field21" class="col-lg-2 control-label input-sm">
                Fusce aliquet
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control input-sm" id="field21" placeholder="Revisions Information 2">
            </div>
        </div>
        <div class="form-group">
            <label for="field31" class="col-lg-2 control-label input-sm">
                Donec tincidunt
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control input-sm" id="field31" placeholder="Revisions Information 3">
            </div>
        </div>
        <div class="form-group">
            <label for="field41" class="col-lg-2 control-label input-sm">
                Vulputate adipiscing diam
            </label>
            <div class="col-lg-10">
                <input type="password" class="form-control input-sm" id="field41" placeholder="Revisions Information 4">
            </div>
        </div>
        <div class="form-group">
            <label for="field51" class="col-lg-2 control-label input-sm">
                Scelerisque
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control input-sm" id="field51" placeholder="Revisions Information 5">
            </div>
        </div>
    </form>
</div>
