<div id="ath-template-tab">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="field10" class="col-lg-2 control-label input-sm">
                Pulvinar lectus luctus
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control input-sm" id="field10" placeholder="Template Information 1">
            </div>
        </div>
        <div class="form-group">
            <label for="field20" class="col-lg-2 control-label input-sm">
                Tristique sodales
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control input-sm" id="field20" placeholder="Template Information 2">
            </div>
        </div>
        <div class="form-group">
            <label for="field30" class="col-lg-2 control-label input-sm">
                Gravida sodales
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control input-sm" id="field30" placeholder="Template Information 3">
            </div>
        </div>
    </form>
</div>
