<div id="ath-info-tab">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="field15" class="col-lg-2 control-label input-sm">
                Mauris varius
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control input-sm" id="field15" placeholder="Additonal Information 1">
            </div>
        </div>
        <div class="form-group">
            <label for="field25" class="col-lg-2 control-label input-sm">
                Convallis sapien
            </label>
            <div class="col-lg-10">
                <input type="text" class="form-control input-sm" id="field25" placeholder="Additonal Information 2">
            </div>
        </div>
    </form>
</div>
