<div class="dashboard table-layout">
    <div>
        <div class="side">
            <div id="tree-navigator" ng-controller="TreeNavigatorCtrl">

                <div class="filters">
                    <div class="type-filter input-group">
                        <span class="input-group-addon">View</span>
                        <button type="button" class="form-control btn btn-default dropdown-toggle">
                            <span class="description">Pages</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><span class="description">All</span></a>
                            </li>
                            <li>
                                <a href="#"><span class="description">Pages</span></a>
                            </li>
                            <li>
                                <a href="#"><span class="description">Templates</span></a>
                            </li>
                            <li>
                                <a href="#"><span class="description">Assets</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div
                  data-angular-treeview="true"
                  data-tree-id="navigatorContent"
                  data-tree-model="navigatorModel"
                  data-node-id="roleId"
                  data-node-label="roleName"
                  data-node-children="children" >
                </div>

                <div class="tools">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" title="Add New"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-minus" title="Delete"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-cog" title="View Options"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="main">
            <div id="activity-view">
                <widgets section='dashboard'></widgets>
            </div>
        </div>
    </div>
</div>
