@import "variables.less";
@import "mixins.less";

.test-asset {
    margin: 15px 2em;

    h1 { font-size: 22px; }

    .side-column {
        width: 270px;
        float: left;

        h2 { font-size: 18px; }

        .list-assets ul > li > a {
            color: @gray;

            &:hover {
                color: @gray-dark;
                cursor: pointer;
            }
        }
    }

    .main-column {
        float: left;

        .form-group {
            width: 700px;

            .form-control {
                margin: 5px 0;
            }
        }

        .editor {
            button[type="submit"] {
                margin-top: 15px;
            }
        }
    }

    .view-section {
        clear: both;
        padding-top: 20px;
        width: 1000px;
    }
}
