/* ------------------ */
/* --- Navigation --- */
/* ------------------ */
.dashboard .navigation { width: 280px; }

.dashboard .navigation .logo {
    background: transparent url(/images/crafter-logo.png) 10px 0 no-repeat;
    height: 78px;
    width: 160px;
}

.dashboard .navigation .search { margin: 5px 0; }
.dashboard .navigation .search .form-group { width: 100%; }
.dashboard .navigation .search input[type='search'] { width: 210px; }

.dashboard .navigation .project-menu,
.dashboard .navigation .project-menu > button { width: 100%; }

.dashboard .navigation .project-menu { margin: 5px 0; }
.dashboard .navigation .project-menu > button { text-align: left; }


.dashboard .navigation .file-view {
    background-color: #FFFFFF;
    border: 1px solid #606060;
    height: 500px;
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
}

.dashboard .navigation .s2do-menu .options {
    position: absolute;
    left: 0;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.dashboard .navigation .options.bottom { top:100%; }
.dashboard .navigation .options.top { bottom:100%; }

.dashboard .navigation .s2do-menu .options li {
    text-align: left;
    margin: 0;
}
.dashboard .navigation .s2do-menu .options a {
    display: block;
    color: #333;
    padding: 4px 10px;
    white-space: nowrap;
}
.dashboard .navigation .s2do-menu .options a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
}

.dashboard .navigation .user-menu {
    float: right;
    margin: 5px 0;
    position: relative;
}
.dashboard .navigation .project-menu {
    position: relative;
}

.dashboard .navigation .project-menu .options {
    width: 100%;
}

/* ------------------ */
/* --- Dashboard ---- */
/* ------------------ */
.dashboard .content { left: 290px };

.dashboard h1 { padding: 15px 20px 0 20px; }

.dashboard .panel { margin: 15px 20px; }
