/* ------------------ */
/* ---#nav --- */
/* ------------------ */
.dashboard #nav { width: 280px; }

.dashboard #nav input[type='search'],
.dashboard #nav select { border-color: #666; }

.dashboard #nav .logo {
    background: transparent url(/images/crafter-logo.png) 10px 0 no-repeat;
    height: 78px;
    width: 100%;
}

.dashboard #nav .search { margin: 5px 0; }

.dashboard #nav .project-menu,
.dashboard #nav .project-menu > button { width: 100%; }

.dashboard #nav .project-menu { margin: 5px 0; }
.dashboard #nav .project-menu > button { text-align: left; }


.dashboard #nav .file-view {
    background-color: #FFFFFF;
    border: 1px solid #606060;
    height: 507px;
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
}

.dashboard #nav .s2do-menu .options {
    position: absolute;
    left: 0;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.dashboard #nav .options.bottom { top:100%; }
.dashboard #nav .options.top { bottom:100%; }

.dashboard #nav .s2do-menu .options li {
    text-align: left;
    margin: 0;
}
.dashboard #nav .s2do-menu .options a {
    display: block;
    color: #333;
    padding: 4px 10px;
    white-space: nowrap;
}
.dashboard #nav .s2do-menu .options a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
}

.dashboard #nav .user-menu {
    float: right;
    margin: 5px 0;
    position: relative;
}
.dashboard #nav .project-menu {
    position: relative;
}

.dashboard #nav .project-menu .options {
    width: 100%;
}

/* ------------------ */
/* --- Dashboard ---- */
/* ------------------ */
.dashboard .content { left: 280px };

.dashboard h1 { padding: 15px 20px 0 20px; }

.dashboard .panel {
    font-size: 12px;
    margin: 15px 20px;
}
.dashboard .panel-heading { overflow: hidden; }
.dashboard .panel-heading .panel-title {
    float: left;
    line-height: 1.5;
}

.dashboard .panel-heading .filters { float: right; }

.dashboard .panel-heading .filters .filter {
    margin-left: 12px;
    display: inline-block;
}
.dashboard .panel-heading .filters .filter b:first-child {
    margin-right: 3px;
}

.dashboard .panel-heading .filters input[type='number'],
.dashboard .panel-heading .filters select {
    display: inline-block;
    padding: 2px 5px;
    height: 24px;
}
.dashboard .panel-heading .filters .type select {
    width: 110px;
}
.dashboard .panel-heading .filters input[type='number'] {
    width: 45px;
}
.dashboard .panel-heading .filters input.ng-invalid {
    border: 1px solid red;
}

.dashboard .panel-body .item-list th,
.dashboard .panel-body .item-list td {
    padding: 2px 10px 2px 5px;
}
.dashboard .panel-body .item-list th:first-child,
.dashboard .panel-body .item-list td:first-child {
    padding-right: 5px;
}

.dashboard .panel-body .item-list .selector { min-width: 22px; }
.dashboard .panel-body .item-list .page-name { min-width: 140px; }
.dashboard .panel-body .item-list .operations { width: 105px; }
.dashboard .panel-body .item-list td.operations { font-size: 10px }
.dashboard .panel-body .item-list .last-edit { min-width: 115px; }
.dashboard .panel-body .item-list .last-author { min-width: 135px; }
.dashboard .panel-body .item-list .personal-edit { min-width: 115px; }
