/* ------------------ */
/* --- Navigation --- */
/* ------------------ */
.dashboard .navigation { width: 280px; }

.dashboard .navigation .logo {
    background: transparent url(/images/crafter-logo.png) 10px 0 no-repeat;
    height: 78px;
    width: 160px;
}

.dashboard .navigation .search { margin: 10px 0; }
.dashboard .navigation .search .form-group { width: 100%; }
.dashboard .navigation .search input[type='search'] { width: 210px; }

.dashboard .navigation .file-view {
    background-color: #FFFFFF;
    border: 1px solid #606060;
    height: 400px;
    width: 100%;
    border-radius: 5px;
}

/* ------------------ */
/* --- Dashboard ---- */
/* ------------------ */
.dashboard .content { left: 290px };

.dashboard h1 { padding: 15px 20px 0 20px; }

.dashboard .panel { margin: 15px 20px; }
