html, body { height: 100%; min-width: 1024px; }

#app-container { 
	/*background-color: #5E8EC4;*/
  /*	background-color: #ABC7E7; lighter blue: not good for background color ... maybe for small details; */
	background-color: #8899AD;
	display: table;
	border-spacing: 0;
  border-collapse: collapse;
	height: 100%; 
	width: 100%;
}

.navigation { padding: 10px 15px; }
.navigation .logo { 
	background: transparent url(/images/crafter-logo.png) 10px 0 no-repeat; 
	display: block;
	height: 78px;
	width: 160px;
}

.dashboard > .navigation,
.preview > .navigation { 
	display: table-cell; 
	width: 280px; 
	margin-right: 20px; 
}

.navigation .search { margin: 10px 0; }
.navigation .search .form-group { width: 100%; }
.navigation .search input[type='search'] { width: 210px; }

.navigation .file-view {
	background-color: #FFFFFF;
	border: 1px solid #606060;
	height: 400px;
	width: 100%;
	border-radius: 5px;
}

.navigation .icon-menu {
	font-size: 14px;
}

.navigation .icon-menu li,
.navigation .icon-menu li a {
	/*color: #363636;*/
	color: #E6E6E6;
}

.navigation .icon-menu li {	
	margin: 8px 0px;
	padding: 0 2px;
}


.navigation .icon-menu li a:hover {
	/*color: #000000;*/
	color: #FFFFFF;
	text-decoration: none;
}

/* --- class: expand = Navigation collapsed, Work Area expanded --- */
.dahshboard.expand  > .navigation,
.preview.expand  > .navigation {
	width: 55px;
}

.expand  > .navigation .logo {
	background: transparent url(/images/crafter-logo-min.png) 10px 0 no-repeat; 
	height: 78px;
	width: 60px;
}

.expand .navigation .search input[type='search'] { display: none; }
.expand .navigation .search button[type='button'] { float: right; }


.expand .navigation .icon-menu .description { display: none; }


/* --- class: expand2 = Navigation collapsed, Work Area expanded | only show icons on the navigation --- */
.dahshboard.expand2  > .navigation,
.preview.expand2  > .navigation {
	width: 60px;
	margin-right: 10px;
	padding: 10px 5px;

	border-right: 6px solid gray;
}

.expand2  > .navigation .logo {
	background: transparent url(/images/crafter-logo-min.png) 0 0 no-repeat; 
	height: 78px;
	width: 45px;
}

.expand2 .navigation .file-view { display: none; }

.expand2 .navigation .search input[type='search'] { display: none; }

.expand2 .navigation .icon-menu { font-size: 18px; }
.expand2 .navigation .icon-menu .description { display: none; }
.expand2 .navigation .list-inline li { display: block; margin-left: 6px; }
.expand2 .navigation .icon-menu .separator { display: none; }

