/* ------------------ */
/* ----- Preview ---- */
/* ------------------ */
#authoring-tools {
	background-color: #E7E7E7;
    background: -webkit-linear-gradient(top, #E7E7E7, #D5D5D5);
    background: -moz-linear-gradient(top, #E7E7E7, #D5D5D5);
    background: linear-gradient(top, #E7E7E7, #D5D5D5);
	position: absolute;
	bottom: 0;
	height: 20%;
	left: 0;
	width: 100%;
	border-top: 1px solid #606060;
}
#authoring-tools.off { display: none; }
#authoring-tools.on { display: block; }

#authoring-tools > .content {
    padding: 10px 20px;
}
