#app-container .preview { display: table-row; width: 100%; }

#preview-container { 
	display: table-cell; 
}
#preview-container > .content { 
	position: absolute;
	top: 15px;
	bottom: 15px;
	right: 15px;
	left: 290px;	/* navigation width */
	background-color: #FFFFFF;
	border: 1px solid #111111;
	min-width: 708px;
}

#preview-container .preview-toolbar {
	background-color: #E2E2E2;
	position: absolute;
	bottom: 0;
	height: 20%;
	left: 0;
	width: 100%;

	border-top: 1px solid #606060;
}

/* --- class: expand --- */
.expand #preview-container > .content { left: 90px; }


/* --- class: expand2 --- */
.expand2 #preview-container > .content { 
	border: none;
	top: 0;
	bottom: 0;
	right: 0;
	left: 64px; 
}