<div class="login container">
    <div class="row main">
        <article class="col-xs-6 col-md-offset-1">
            <div class="row header">
                <div class="col-xs-12">
                    <h1><img src="/src/images/crafter-logo.png" alt="Crafter Studio" /></h1>
                    <h2>Discover how Crafter Studio builds market advantage for web content and experience management</h2>
                </div>
            </div>
            <div class="row description">
                <ul class="col-xs-12">
                    <li>Create Timely Content</li>
                    <li>Build Sites that Scale</li>
                    <li>Engage Target Audiences</li>
                </ul>
            </div>
        </article>
        <aside class="col-xs-4 col-md-offset-1">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <b>Sign In</b>
                </div>
                <div class="panel-body">
                    <form id="signin-form" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="signin-uname" placeholder="Username">
                            <input type="password" class="form-control" id="signin-pwd" placeholder="Password">
                            <button type="submit" class="btn btn-primary">Sign In</button>
                            <a class="help-link" href="#" id="credentials-help">Forgot your credentials?</a>
                            <a class="help-link" href="#" id="signin-help">Need help?</a>
                        </div>
                    </form>
                </div>
            </section>
            <section class="panel panel-default">
                <div class="panel-heading">
                    <b>Sign Up</b>
                </div>
                <div class="panel-body">
                    <form id="signup-form" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="signup-name" placeholder="Full Name">
                            <input type="email" class="form-control" id="signup-email" placeholder="Email">
                            <input type="text" class="form-control" id="signup-uname" placeholder="Username">
                            <input type="password" class="form-control" id="signup-pwd" placeholder="Password">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                            <a class="help-link" href="#" id="signup-help">Need help?</a>
                        </div>
                    </form>
                </div>
            </section>
        </aside>
    </div>
    <footer class="row footer">
        <div class="col-xs-2 logo"></div>
        <ul class="col-xs-10 links">
            <li><a href="http://craftersoftware.com">Crafter CMS</a></li>
            <li><a href="http://craftersoftware.com/about/company">About</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </footer>
</div>
