<div class="test-asset" ng-controller="AssetCtrl">

    <form>
        <textarea ng-model="descriptor" name="editor1" id="editor1" rows="10" cols="80"></textarea>
    </form>

    <div class="list-section">
        <h1>Assets</h1>
        <ul>
            <li class="asset-link" ng-repeat="asset in assetList">
                <a class="button" ng-click="readAsset(asset.id)">{{asset.name}}</a>
            </li>
        </ul>
    </div>

    <div class="upload-section">
        <h1>Upload Asset</h1>
        <form   name="uploadForm"
                novalidate
                role="form"
                ng-submit="uploadAsset(asset)">

            <div class="form-group">
                <input  type="text"
                        class="form-control input-sm"
                        name="assetPath"
                        ng-model="asset.path"
                        placeholder="Parent ID"
                        required />

                <input  type="text"
                        class="form-control input-sm"
                        name="assetName"
                        ng-model="asset.name"
                        placeholder="File name"
                        required />

                <input  type="file"
                        class="form-control input-sm"
                        name="assetContent"
                        sdo-file-select="onFileSelect($files)"
                        required />

            </div>

            <div class="form-group">
                <button type="submit"
                        class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>

    <div class="view-section">
        <div ng-model="assetContent"
             ng-show="assetContent">{{assetContent}}</div>
    </div>

</div>
