<dashboard-widgets></dashboard-widgets>

<!-- Controls for testing the growler notifications
<div style="padding: 20px 22px;">
	<label>Message Title</label>
    <input ng-model="msg.title" placeholder="Title"><br />
    <label>Message Body</label>
    <input ng-model="msg.body" placeholder="Body"><br />
    <label>Message Type</label>
    <select ng-model="msg.type">
    <option value="success">Success</option>
    <option value="info">Info</option>
    <option value="warning">Warning</option>
    <option value="error">Error</option>
    </select><br />
    <a ng-click="notifications.pop({title: msg.title, body: msg.body, type: msg.type})" class="btn">Show Message</a>
</div>
-->

