<div id="nav">
    <div class="logo"></div>
    <button type="button"
            class="home btn btn-primary btn-sm"
            title="Back to dashboard"
            ng-click="AppCtrl.toggleView()">
        <span class="glyphicon glyphicon-home"></span>
    </button>


    <div class="search input-group">
        <input type="search" class="form-control input-sm" placeholder="search..." />
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary btn-sm" ng-click="search()">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>

    <div class="project-menu s2do-menu">
        <select class="form-control input-sm">
          <option value="">Choose a Project</option>
          <option value="mango">Mango</option>
          <option value="starfruit">Star Fruit</option>
          <option value="dragonfruit">Dragon Fruit</option>
          <option value="passionfruit">Passion Fruit</option>
        </select>
    </div>

    <fileview></fileview>

    <div class="user-menu s2do-menu" ng-click="hideUserOptions=!hideUserOptions">
        <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-user"></span>
            <span class="description">Scott Weiland</span>
        </button>
        <ul class="options top" ng-hide="hideUserOptions">
            <li><a href="#">
                <span class="glyphicon glyphicon-cog"></span>
                <span class="description">Account Settings</span>
            </a></li>
            <li><a href="#">
                <span class="glyphicon glyphicon-log-out"></span>
                <span class="description">Sign Out</span>
            </a></li>
        </ul>
    </div>

    <!--
    <div class="language">
        <input type="button" value="English" ng-click="AppCtrl.changeLanguage(\'en\')" />
        <input type="button" value="French" ng-click="AppCtrl.changeLanguage(\'fr\')" />
        <input type="button" value="UV" ng-click="AppCtrl.toggleView()" />
    </div
    -->
</div>
